body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fffaf0;
  color: #333;
}

header {
  background-color: #b22222;
  color: white;
  text-align: center;
  padding: 20px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  text-align: center;
}

img {
  width: 300px;
  margin: 10px;
  border-radius: 10px;
}

.galeria img {
  width: 30%;
}

video {
  margin-top: 15px;
  border-radius: 10px;
}

.admin {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.persona {
  background: #ffe4c4;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
}

.persona img {
  width: 100%;
  border-radius: 10px;
}

footer {
  background-color: #8b0000;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}